html, body {
  height: 100%;
}

.mb-20 {
  margin-bottom: 20px;
}

.card {
  box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.06), 0 1px 0 0 rgba(0, 0, 0, 0.02);
  background: #fff;
  border-radius: 5px;
  padding: 20px;
}

.content h2 {
  font-size: 20px;
  margin: 20px 0;
}


.content .table td,
.content .table th {
  padding: 12px
}
