<div class="row content-header">
    <div class="col-md-8">
        <h2>Cars List</h2>
    </div>
    <div class="col-md-4 text-right">
        <a routerLink="add" class="btn btn-success">
            <i class="fa fa-plus" aria-hidden="true"></i>
            Add Car
        </a>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="text-center" *ngIf="cars?.length == 0">
                <h3>No cars</h3>
                <p>Click on the "Add car" button for adding a new car!</p>
            </div>
            <table *ngIf="cars?.length > 0" class="table table-bordered table-striped">
                <tr>
                    <th>№</th>
                    <th>Gov Number</th>
                    <th>Car type</th>
                    <th>Gov trailer number</th>
                    <th width="10%">Actions</th>
                </tr>
                <tr *ngFor="let car of cars; let i = index;">
                    <td>{{ i + 1 }}</td>
                    <td>{{ car.gov_number }}</td>
                    <td>{{ car.car_type }}</td>
                    <td>{{ car.gov_number_trailer || '---' }}</td>
                    <td class="text-center">
                        <a [class.disabled]="processing" [routerLink]="[car.id, 'edit']" class="btn btn-sm btn-info">
                            <i class="fa fa-pencil" aria-hidden="true"></i>
                        </a>
                        <button [disabled]="processing" type="button" class="btn btn-sm btn-danger" (click)="delete(car.id)">
                            <i class="fa fa-trash" aria-hidden="true"></i>
                        </button>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
