<div class="row content-header">
    <div class="col-md-12">
        <h2>Edit note</h2>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <form class="form-horizontal" role="form" (ngSubmit)="edit()" [formGroup]="form">
                <div class="form-group" [class.has-error]="!form.controls['car'].valid && form.controls['car'].touched">
                    <label class="col-md-2 control-label">Car:</label>
                    <div class="col-md-10">
                        <select class="form-control" formControlName="car">
                            <option value="" disabled selected>Select a car</option>
                            <option [value]="car.id" *ngFor="let car of cars">{{ car.car_type }}</option>
                        </select>
                        <span *ngIf="form.controls['car'].hasError('required') && form.controls['car'].touched" class="help-block">
                            The field is required.
                        </span>
                    </div>
                </div>
                <div class="form-group" [class.has-error]="!form.controls['date'].valid && form.controls['date'].touched">
                    <label class="col-md-2 control-label">Date:</label>
                    <div class="col-md-10">
                        <p-calendar
                            formControlName="date"
                            dateFormat="dd/mm/yy"
                            [showIcon]="true"
                            [maxDate]="maxDate"
                        ></p-calendar>
                        <span *ngIf="form.controls['date'].hasError('required') && form.controls['date'].touched" class="help-block">
                            The field is required.
                        </span>
                    </div>
                </div>
                <div class="form-group" [class.has-error]="!form.controls['km'].valid && form.controls['km'].touched">
                    <label class="col-md-2 control-label">Km:</label>
                    <div class="col-md-10">
                        <input type="number" formControlName="km" class="form-control" placeholder="Kilometers">
                        <span *ngIf="form.controls['km'].hasError('required') && form.controls['km'].touched" class="help-block">
                            The field is required.
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Pays:</label>
                    <div class="col-md-10">
                        <input type="number" formControlName="pays" class="form-control" placeholder="Pays">
                    </div>
                </div>
                <div class="form-group" [class.has-error]="!form.controls['works'].valid && form.controls['works'].touched">
                    <label class="col-md-2 control-label">Works:</label>
                    <div class="col-md-10">
                        <textarea class="form-control" formControlName="works" rows="4" cols="80" placeholder="Works"></textarea>
                        <span *ngIf="form.controls['works'].hasError('required') && form.controls['works'].touched" class="help-block">
                            The field is required.
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-10 col-md-offset-2">
                        <button type="submit" class="btn btn-primary" [disabled]="!form.valid">Create</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
