<div class="wrapper">
    <header class="header">
        <div class="toolbar">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <h1>
                            <i class="fa fa-signal" aria-hidden="true"></i>
                            CarStats
                        </h1>
                    </div>
                    <div class="col-md-9">
                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                <a (click)="logout()">
                                    <i class="fa fa-sign-out" aria-hidden="true"></i>
                                    Logout
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="nav-main">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <ul class="nav navbar-nav">
                            <li>
                                <a
                                    routerLink="/dashboard"
                                    routerLinkActive="active"
                                    [routerLinkActiveOptions]="{exact:true}"
                                >
                                    <i class="fa fa-desktop" aria-hidden="true"></i>
                                    Dashboard
                                </a>
                            </li>
                            <li>
                                <a
                                    routerLink="/dashboard/cars"
                                    routerLinkActive="active"
                                    [routerLinkActiveOptions]="{exact:true}"
                                >
                                    <i class="fa fa-truck" aria-hidden="true"></i>
                                    Cars
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-edit" aria-hidden="true"></i>
                                    Notes
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <main class="content">
        <div class="container">
            <router-outlet></router-outlet>
        </div>
    </main>
</div>
